.head {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  max-height: 80px;
}
@media only screen and (max-width: 766px) {
  .head {
    max-height: 50px;
    margin-top: 0px;
  }
}

.sticky {
  background-color: rgba(19,74,70, 0.8);
  opacity: 1;
  top: 0px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  }

.logo {
  width: 50px;
  font-size: 25px;
  color: #ddd;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    display: none;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
  margin-top: 0px;
}
@media only screen and (max-width: 766px) {
  nav ul {
    margin-bottom: 22px;
    float: left;
    text-align: left;
    width: 100%;
    padding: 0;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 50px;
  overflow: hidden;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 20px;
    margin-left: 6%;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}
.circle-ico {
  border-radius: 50%;
  background-color: black;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 766px) {
  .circle-ico {
    height: 20px;
    width: 20px;
  }
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  line-height: 2em;
  text-transform: uppercase;
}

.content {
  padding: 0 2% 50px;
  min-height: 100vh;  
  font-size: 1.2em;
  line-height: 2.2em;
  font-weight: 300;
}

@media only screen and (max-width: 766px) {
  .content {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}

.quest {
  width: 100%;
}

.sent {
  width: 70%;
  margin-right: 10%;
  display: inline-block;
}

.checkmark {
  /*float: right;*/
  display: inline-block;
  /*vertical-align: top;*/
  line-height: 1.8em;
  font-size: 0.7em;
}

.banner {
  background: url('../img/header-bg.jpg') repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 500px;
  position: relative;

}

.hero {
  position: relative;
  top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(30,30,30,0.85);
  border-top: 1px solid rgba(0,0,0,0.2);
  max-width: 1000px;
  max-height: 500px;
  min-height: 400px;
}

.hero h1 {
  color: #dbd48b;
  font-size: 70px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  margin-top: 60px;
}

@media only screen and (max-width: 766px) {
  .hero h1 {
    font-size: 10px;
    line-height: 1.5em;
  }
}

.hero h1 span {
  font-size: 30px;
  line-height: 100px;
  font-weight: 300;
}


.toggle {
  overflow: hidden;
  display: inline-block;
  width: 100px;
  background: #ddd;
  padding: 0.125em;
  cursor: pointer;
  }
.toggle input {
  position: absolute;
  visibility: hidden;
}
.toggle span {
  position: relative;
  left: 0%;
  display: block;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: left 200ms ease-out;
     -moz-transition: left 200ms ease-out;
       -o-transition: left 200ms ease-out;
          transition: left 200ms ease-out;
  }
.toggle :checked + span {
  left: 50%;
  }

/* Default unchecked state */
.toggle span:before {
  content: attr(data-unchecked);
  display: block;
  width: 50%;
  background-color: #dbd48b;
  border-radius: 0.15em;
  box-shadow: inset 0 0.1em 0 rgba(255, 255, 255, 0.3);
  color: #222;
  }

/* Checked state */
.toggle :checked + span:before {
  content: attr(data-checked);
  background-color: #7AC8CC;
  }
