
* {
  box-sizing: border-box;
}

body {
  color: #8f8f8f;
  background: white;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

footer {
  height: 400px;
}

a {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.head {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  /*max-height: 80px;*/
}

@media only screen and (max-width: 766px) {
  .head {
    max-height: 150px;
  }
}

.sticky {
  background-color: rgba(19,74,70, 0.8);
  opacity: 1;
  top: 0px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  }

.logo {
  width: 50px;
  font-size: 25px;
  color: #ddd;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}

@media only screen and (max-width: 766px) {
  .logo {
    display: none;
  }
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: center;
  float: right;
  margin-top: 0px;
}

@media only screen and (max-width: 766px) {
  nav ul {
    margin-bottom: 0;
    float: left;
    text-align: left;
    width: 100%;
    padding: 0;
  }
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  width: 60px;
  height: 70px;
  overflow: hidden;
}

@media only screen and (max-width: 400px) {
  nav ul li:nth-of-type(5) {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 766px) {
  nav ul li {
    margin-left: 20px;
    height: auto;
  }
}

nav a {
  color: #ddd;
  text-transform: uppercase;
  font-size: 11px;
}

nav p {
  margin: 0;
}

.result {
  border: 1px solid #ddd;
  background-color: inherit;
  color: #ddd;
  margin-top: 50px;
  display: block;
  cursor: pointer;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.content {
  padding: 0 2% 50px;
  min-height: 100vh;  
  font-size: 1.1em;
  line-height: 1.8em;
  font-weight: 300;
}

.content h1 {
  font-size: 2em;
  line-height: 2em;
  padding-top: 50px;
}

@media only screen and (max-width: 766px) {
  .content h1 {
    padding-top: 80px;
  }
  .content {
    font-size: 0.9em;
    line-height: 1.5em;
  }
}

.quest {
  width: 100%;
  margin-bottom: 20px;
}

.sent {
  width: 70%;
  margin-right: 10%;
  display: inline-block;
  vertical-align: middle;
}

.banner {
  background: url('../img/header-bg.jpg') repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 500px;
  position: relative;
}

@media only screen and (max-width: 766px) {
  .banner {
    min-height: 300px;
  }
}

.hero {
  position: relative;
  top: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: rgba(30,30,30,0.85);
  border-top: 1px solid rgba(0,0,0,0.2);
  max-width: 1000px;
  max-height: 500px;
  min-height: 400px;
}

@media only screen and (max-width: 766px) {
  .hero {
    min-height: 0;
  }
}

.hero h1 {
  color: #dbd48b;
  font-size: 70px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
}

.hero h1 span {
  font-size: 30px;
  line-height: 100px;
}

@media only screen and (max-width: 766px) {
  .hero h1 {
    font-size: 40px;
    line-height: 1.5em;
  }
  .hero h1 span {
    font-size: 20px;
  }
}

.item {
  display: inline-block;
  margin: 3%;
  overflow: hidden;
  
  background-color: #ddd;
  width: 145px;
  height: 250px;
  box-shadow: 0 0 5px #aaa;
}

.item img {
  min-width: 90%;
  min-height: 90%;
}

.item p {
  margin: 0.5em;
}

/*Toggle switches styles*/

.toggle {
  overflow: hidden;
  display: inline-block;
  width: 60px;
  background: #dbd48b;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #ccc;
  vertical-align: middle;
}

.toggle input {
  position: absolute;
  visibility: hidden;
}

.toggle span {
  position: relative;
  background-color: #fff;
  left: 0%;
  display: block;
  border-radius: 16px;
  height: 30px;

  -webkit-transition: left 200ms ease-out;
  -moz-transition: left 200ms ease-out;
  -o-transition: left 200ms ease-out;
  transition: left 200ms ease-out;
}

.toggle :checked + span {
  left: 50%;
}

/* Default unchecked state*/
.toggle span:before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #aaa;
}

/* Checked state */
.toggle :checked + span:before {
  content: "";
  border-radius: 15px;
  box-shadow: 0 0 1px 1px #dbd48b;
}

@media only screen and (max-width: 766px) {
  .toggle {
    width: 40px;
  }
  .toggle span {
    height: 20px;
  }
  .toggle span:before {
    height: 20px;
  }
}


/*Styles for radial progress diagrams*/

.diagram {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  margin: auto;
  margin-top: 5px;
}
.diagram.gt-50 {
  background-color: #dbd48b;
}

.progress {
  content: "";
  position: absolute;
  border-radius: 50%;
/*  left: calc(50% - 25px);
  top: calc(50% - 25px);*/
  width: 50px;
  height: 50px;
  clip: rect(0, 50px, 50px, 25px);
}
.progress .progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
/*  left: calc(50% - 25px);
  top: calc(50% - 25px);*/
  width: 50px;
  height: 50px;
  clip: rect(0, 25px, 50px, 0);
  background: #dbd48b;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);

}
.gt-50 .progress {
  clip: rect(0, 25px, 50px, 0);
}
.gt-50 .progress .progress-fill {
  clip: rect(0, 50px, 50px, 25px);
  background: #E5E5E5;
}

.percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  /*left: calc(50% - 43.4782608696px/2);*/
  left: 9.5px;
  top: 9.5px;
  width: 30px;
  height: 30px;
  background: #fff;
  text-align: center;
  display: table;
}
.percents span {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #888;
  margin-top: 8px;
}

.percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}